iterations in python are while loop and for loop

In [5]:
i=1
while i<6:
    print("hello")
    i=i+1                         #while loop

hello
hello
hello
hello
hello

In [7]:
i=1
while i<6:
    print("hello")
    i=i+3

hello
hello

In [9]:
numbers=[1, 2, 3, 4, 5, 6, 7, 8] 
for i in numbers:                              #for loop
    print(i)

1
2
3
4
5
6
7
8

In [11]:
for i in range(0,13):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12

write a program to print "hello" 5 times with for loop?

In [3]:
i='hello'
for i in range(1,6):
    print('hello')

hello
hello
hello
hello
hello

write a program to print 100,99,98,....2  with for loop?

In [43]:

for i in range(100,1,-1): 
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2

In [57]:
for i in range(100,1,-2):
    if i==98:
        continue
    print(i)

100
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

In [26]:
for i in range(100,1,-2):
    if i==80:
        break
    print(i)

100
98
96
94
92
90
88
86
84
82

In [28]:
numbers=[1, 2, 3, 4, 5]
for num in numbers:
    if num==3:
       break
    print(num)
print("outside of for loop")

1
2
outside of for loop

In [30]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [32]:
a=1+2+3+4+5\
+6+7
print(a)

28

In [34]:
x,y,z='ict',2024,'DSA' 
print(x,y,z)

ict 2024 DSA

In [36]:
print(z)

DSA

In [42]:

name=(input('enter your name:'))
print(name)

enter your name: niranjana

niranjana

In [44]:
name=(input('please enter your name:'))
print(name)
print('welcome',name)

please enter your name: niranjana

niranjana
welcome niranjana

In [46]:
a=10
b=20
print('a'',''b')
print("a=",a)
print("b=",b)

a,b
a= 10
b= 20

In [48]:
print('a={} and b={}'.format(a,b))

a=10 and b=20

In [50]:
print("a={0} and b={1}".format(a,b))

a=10 and b=20

In [52]:
print("hello {}, welcome to the DSA class.".format(name))

hello niranjana, welcome to the DSA class.

write a program to print multiplication table(1-10) of a number input from user?

In [54]:
num=int((input("enter the number:")))
print("multiplication table:")
for i in range(0,10):
    print(num,"x",i,'=',num*i)

enter the number: 12

multiplication table:
12 x 0 = 0
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108

function are of 2 types, builtin functions and custom function

def function_name(parameters)
  statements
  return value

In [56]:
def add_num(x,y): 
    z=x+y
    return z

In [58]:
add_num(1,9)

10

In [60]:
add_num(20,30)

50

# without return

In [62]:
def add_num(x,y): 
    '''this adds x and y'''     #Doc string or documentation string
    z=x+y
    print(z)
    add_num(10,20)

In [64]:
print(add_num.__doc__)

this adds x and y

In [66]:
print(len.__doc__)

Return the number of items in a container.

In [68]:
print(range.__doc__)

range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).

In [70]:
import math
math.sqrt(9)

3.0

In [73]:
mean

In [75]:
x=[3, 4, -7, 0, 1] 
def mean(x):
    y=sum(x)
    n=len(x)
    m=y/n
    return m
mean(x)

0.2

varience

In [81]:

m=mean(x)
def var(x):
    b=sum((i-m)**2 for i in x)/len(x)
    return b
print("variance:",var(x))

variance: 14.959999999999999