In [17]:
import pandas as pd

In [19]:
weather_data=[("1/1/2024",32,6,"rain"),
             ("2/11/2014",35,7,"sunny")]

In [21]:
df= pd.DataFrame(weather_data ,\
                 columns=["date",'temperature','wind','climate'])

In [23]:
df

        date  temperature  wind climate
0   1/1/2024           32     6    rain
1  2/11/2014           35     7   sunny

In [25]:
df=pd.read_csv("C:\\Users\\niranjana\\Downloads\\auto-mpg.csv")

In [27]:
df.shape

(398, 9)

In [29]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [31]:
df.head(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320

In [33]:
df.tail(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [35]:
df["mpg"]

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 398, dtype: float64

In [37]:
df['model year']

0      70
1      70
2      70
3      70
4      70
       ..
393    82
394    82
395    82
396    82
397    82
Name: model year, Length: 398, dtype: int64

In [39]:
df.mpg

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 398, dtype: float64

In [45]:
df[["car name"]]

                      car name
0    chevrolet chevelle malibu
1            buick skylark 320
2           plymouth satellite
3                amc rebel sst
4                  ford torino
..                         ...
393            ford mustang gl
394                  vw pickup
395              dodge rampage
396                ford ranger
397                 chevy s-10

[398 rows x 1 columns]

In [43]:
df['car name']

0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: car name, Length: 398, dtype: object

In [71]:
df.columns.tolist()

['mpg',
 'cylinders',
 'displacement',
 'horsepower',
 'weight',
 'acceleration',
 'model year',
 'origin',
 'car name']

In [73]:
df[["mpg", "car name"]]

      mpg                   car name
0    18.0  chevrolet chevelle malibu
1    15.0          buick skylark 320
2    18.0         plymouth satellite
3    16.0              amc rebel sst
4    17.0                ford torino
..    ...                        ...
393  27.0            ford mustang gl
394  44.0                  vw pickup
395  32.0              dodge rampage
396  28.0                ford ranger
397  31.0                 chevy s-10

[398 rows x 2 columns]

In [75]:
new_df=df[['car name','weight']]

In [82]:
new_df.to_excel("C:\\Users\\niranjana\\OneDrive\\Desktop\\DSA\\output.xlsx",sheet_name='sheet 1')   #DSA FOLDE---->OUTPUT

In [86]:
df.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [92]:
df.shape

(398, 9)

In [98]:
df_sample=df.sample(10)

In [102]:
df_sample

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
94,13.0,8,440.0,215,4735,11.0,73,1,chrysler new yorker brougham
316,19.1,6,225.0,90,3381,18.7,80,1,dodge aspen
98,16.0,6,250.0,100,3278,18.0,73,1,chevrolet nova custom
274,20.3,5,131.0,103,2830,15.9,78,2,audi 5000
258,20.6,6,231.0,105,3380,15.8,78,1,buick century special
78,21.0,4,120.0,87,2979,19.5,72,2,peugeot 504 (sw)
10,15.0,8,383.0,170,3563,10.0,70,1,dodge challenger se
61,21.0,4,122.0,86,2226,16.5,72,1,ford pinto runabout
97,18.0,6,225.0,105,3121,16.5,73,1,plymouth valiant
229,16.0,8,400.0,180,4220,11.1,77,1,pontiac grand prix lj

In [47]:
g=df.groupby('model year')

In [49]:
g.max()

,mpg,cylinders,displacement,horsepower,weight,acceleration,origin,car name
model year,,,,,,,,
70,27.0,8,455.0,97,4732,20.5,3,volkswagen 1131 deluxe sedan
71,35.0,8,400.0,?,5140,20.5,3,volkswagen model 111
72,28.0,8,429.0,97,4633,23.5,3,volvo 145e (sw)
73,29.0,8,455.0,95,4997,21.0,3,volvo 144ea
74,32.0,8,350.0,?,4699,21.0,3,volkswagen dasher
75,33.0,8,400.0,98,4668,21.0,3,volvo 244dl
76,33.0,8,351.0,95,4380,22.2,3,vw rabbit
77,36.0,8,400.0,98,4335,19.0,3,volkswagen rabbit custom
78,43.1,8,318.0,97,4080,21.5,3,volvo 264gl
79,37.3,8,360.0,90,4360,24.8,3,vw rabbit custom
80,46.6,6,225.0,?,3381,23.7,3,vw rabbit c (diesel)
81,39.1,8,350.0,?,3725,20.7,3,volvo diesel
82,44.0,6,262.0,?,3035,24.6,3,vw pickup

In [51]:
for x, model_df in g: 
    print(x)
    print(model_df)

70
     mpg  cylinders  displacement horsepower  weight  acceleration  \
0   18.0          8         307.0        130    3504          12.0
1   15.0          8         350.0        165    3693          11.5
2   18.0          8         318.0        150    3436          11.0
3   16.0          8         304.0        150    3433          12.0
4   17.0          8         302.0        140    3449          10.5
5   15.0          8         429.0        198    4341          10.0
6   14.0          8         454.0        220    4354           9.0
7   14.0          8         440.0        215    4312           8.5
8   14.0          8         455.0        225    4425          10.0
9   15.0          8         390.0        190    3850           8.5
10  15.0          8         383.0        170    3563          10.0
11  14.0          8         340.0        160    3609           8.0
12  15.0          8         400.0        150    3761           9.5
13  14.0          8         455.0        225    3086          10.0
14  24.0          4         113.0         95    2372          15.0
15  22.0          6         198.0         95    2833          15.5
16  18.0          6         199.0         97    2774          15.5
17  21.0          6         200.0         85    2587          16.0
18  27.0          4          97.0         88    2130          14.5
19  26.0          4          97.0         46    1835          20.5
20  25.0          4         110.0         87    2672          17.5
21  24.0          4         107.0         90    2430          14.5
22  25.0          4         104.0         95    2375          17.5
23  26.0          4         121.0        113    2234          12.5
24  21.0          6         199.0         90    2648          15.0
25  10.0          8         360.0        215    4615          14.0
26  10.0          8         307.0        200    4376          15.0
27  11.0          8         318.0        210    4382          13.5
28   9.0          8         304.0        193    4732          18.5

    model year  origin                      car name
0           70       1     chevrolet chevelle malibu
1           70       1             buick skylark 320
2           70       1            plymouth satellite
3           70       1                 amc rebel sst
4           70       1                   ford torino
5           70       1              ford galaxie 500
6           70       1              chevrolet impala
7           70       1             plymouth fury iii
8           70       1              pontiac catalina
9           70       1            amc ambassador dpl
10          70       1           dodge challenger se
11          70       1            plymouth 'cuda 340
12          70       1         chevrolet monte carlo
13          70       1       buick estate wagon (sw)
14          70       3         toyota corona mark ii
15          70       1               plymouth duster
16          70       1                    amc hornet
17          70       1                 ford maverick
18          70       3                  datsun pl510
19          70       2  volkswagen 1131 deluxe sedan
20          70       2                   peugeot 504
21          70       2                   audi 100 ls
22          70       2                      saab 99e
23          70       2                      bmw 2002
24          70       1                   amc gremlin
25          70       1                     ford f250
26          70       1                     chevy c20
27          70       1                    dodge d200
28          70       1                      hi 1200d
71
     mpg  cylinders  displacement horsepower  weight  acceleration  \
29  27.0          4          97.0         88    2130          14.5
30  28.0          4         140.0         90    2264          15.5
31  25.0          4         113.0         95    2228          14.0
32  25.0          4          98.0          ?    2046          19.0
33  19.0          6         232.0        100    2634          13.0
34  16.0          6         225.0        105    3439          15.5
35  17.0          6         250.0        100    3329          15.5
36  19.0          6         250.0         88    3302          15.5
37  18.0          6         232.0        100    3288          15.5
38  14.0          8         350.0        165    4209          12.0
39  14.0          8         400.0        175    4464          11.5
40  14.0          8         351.0        153    4154          13.5
41  14.0          8         318.0        150    4096          13.0
42  12.0          8         383.0        180    4955          11.5
43  13.0          8         400.0        170    4746          12.0
44  13.0          8         400.0        175    5140          12.0
45  18.0          6         258.0        110    2962          13.5
46  22.0          4         140.0         72    2408          19.0
47  19.0          6         250.0        100    3282          15.0
48  18.0          6         250.0         88    3139          14.5
49  23.0          4         122.0         86    2220          14.0
50  28.0          4         116.0         90    2123          14.0
51  30.0          4          79.0         70    2074          19.5
52  30.0          4          88.0         76    2065          14.5
53  31.0          4          71.0         65    1773          19.0
54  35.0          4          72.0         69    1613          18.0
55  27.0          4          97.0         60    1834          19.0
56  26.0          4          91.0         70    1955          20.5

    model year  origin                    car name
29          71       3                datsun pl510
30          71       1         chevrolet vega 2300
31          71       3               toyota corona
32          71       1                  ford pinto
33          71       1                 amc gremlin
34          71       1   plymouth satellite custom
35          71       1   chevrolet chevelle malibu
36          71       1             ford torino 500
37          71       1                 amc matador
38          71       1            chevrolet impala
39          71       1   pontiac catalina brougham
40          71       1            ford galaxie 500
41          71       1           plymouth fury iii
42          71       1           dodge monaco (sw)
43          71       1    ford country squire (sw)
44          71       1         pontiac safari (sw)
45          71       1  amc hornet sportabout (sw)
46          71       1         chevrolet vega (sw)
47          71       1            pontiac firebird
48          71       1                ford mustang
49          71       1          mercury capri 2000
50          71       2                   opel 1900
51          71       2                 peugeot 304
52          71       2                   fiat 124b
53          71       3         toyota corolla 1200
54          71       3                 datsun 1200
55          71       2        volkswagen model 111
56          71       1            plymouth cricket
72
     mpg  cylinders  displacement horsepower  weight  acceleration  \
57  24.0          4         113.0         95    2278          15.5
58  25.0          4          97.5         80    2126          17.0
59  23.0          4          97.0         54    2254          23.5
60  20.0          4         140.0         90    2408          19.5
61  21.0          4         122.0         86    2226          16.5
62  13.0          8         350.0        165    4274          12.0
63  14.0          8         400.0        175    4385          12.0
64  15.0          8         318.0        150    4135          13.5
65  14.0          8         351.0        153    4129          13.0
66  17.0          8         304.0        150    3672          11.5
67  11.0          8         429.0        208    4633          11.0
68  13.0          8         350.0        155    4502          13.5
69  12.0          8         350.0        160    4456          13.5
70  13.0          8         400.0        190    4422          12.5
71  19.0          3          70.0         97    2330          13.5
72  15.0          8         304.0        150    3892          12.5
73  13.0          8         307.0        130    4098          14.0
74  13.0          8         302.0        140    4294          16.0
75  14.0          8         318.0        150    4077          14.0
76  18.0          4         121.0        112    2933          14.5
77  22.0          4         121.0         76    2511          18.0
78  21.0          4         120.0         87    2979          19.5
79  26.0          4          96.0         69    2189          18.0
80  22.0          4         122.0         86    2395          16.0
81  28.0          4          97.0         92    2288          17.0
82  23.0          4         120.0         97    2506          14.5
83  28.0          4          98.0         80    2164          15.0
84  27.0          4          97.0         88    2100          16.5

    model year  origin                          car name
57          72       3             toyota corona hardtop
58          72       1                dodge colt hardtop
59          72       2                 volkswagen type 3
60          72       1                    chevrolet vega
61          72       1               ford pinto runabout
62          72       1                  chevrolet impala
63          72       1                  pontiac catalina
64          72       1                 plymouth fury iii
65          72       1                  ford galaxie 500
66          72       1                amc ambassador sst
67          72       1                   mercury marquis
68          72       1              buick lesabre custom
69          72       1        oldsmobile delta 88 royale
70          72       1            chrysler newport royal
71          72       3                   mazda rx2 coupe
72          72       1                  amc matador (sw)
73          72       1  chevrolet chevelle concours (sw)
74          72       1             ford gran torino (sw)
75          72       1    plymouth satellite custom (sw)
76          72       2                   volvo 145e (sw)
77          72       2               volkswagen 411 (sw)
78          72       2                  peugeot 504 (sw)
79          72       2                   renault 12 (sw)
80          72       1                   ford pinto (sw)
81          72       3                   datsun 510 (sw)
82          72       3       toyouta corona mark ii (sw)
83          72       1                   dodge colt (sw)
84          72       3          toyota corolla 1600 (sw)
73
      mpg  cylinders  displacement horsepower  weight  acceleration  \
85   13.0          8         350.0        175    4100          13.0
86   14.0          8         304.0        150    3672          11.5
87   13.0          8         350.0        145    3988          13.0
88   14.0          8         302.0        137    4042          14.5
89   15.0          8         318.0        150    3777          12.5
90   12.0          8         429.0        198    4952          11.5
91   13.0          8         400.0        150    4464          12.0
92   13.0          8         351.0        158    4363          13.0
93   14.0          8         318.0        150    4237          14.5
94   13.0          8         440.0        215    4735          11.0
95   12.0          8         455.0        225    4951          11.0
96   13.0          8         360.0        175    3821          11.0
97   18.0          6         225.0        105    3121          16.5
98   16.0          6         250.0        100    3278          18.0
99   18.0          6         232.0        100    2945          16.0
100  18.0          6         250.0         88    3021          16.5
101  23.0          6         198.0         95    2904          16.0
102  26.0          4          97.0         46    1950          21.0
103  11.0          8         400.0        150    4997          14.0
104  12.0          8         400.0        167    4906          12.5
105  13.0          8         360.0        170    4654          13.0
106  12.0          8         350.0        180    4499          12.5
107  18.0          6         232.0        100    2789          15.0
108  20.0          4          97.0         88    2279          19.0
109  21.0          4         140.0         72    2401          19.5
110  22.0          4         108.0         94    2379          16.5
111  18.0          3          70.0         90    2124          13.5
112  19.0          4         122.0         85    2310          18.5
113  21.0          6         155.0        107    2472          14.0
114  26.0          4          98.0         90    2265          15.5
115  15.0          8         350.0        145    4082          13.0
116  16.0          8         400.0        230    4278           9.5
117  29.0          4          68.0         49    1867          19.5
118  24.0          4         116.0         75    2158          15.5
119  20.0          4         114.0         91    2582          14.0
120  19.0          4         121.0        112    2868          15.5
121  15.0          8         318.0        150    3399          11.0
122  24.0          4         121.0        110    2660          14.0
123  20.0          6         156.0        122    2807          13.5
124  11.0          8         350.0        180    3664          11.0

     model year  origin                      car name
85           73       1             buick century 350
86           73       1                   amc matador
87           73       1              chevrolet malibu
88           73       1              ford gran torino
89           73       1          dodge coronet custom
90           73       1      mercury marquis brougham
91           73       1     chevrolet caprice classic
92           73       1                      ford ltd
93           73       1      plymouth fury gran sedan
94           73       1  chrysler new yorker brougham
95           73       1      buick electra 225 custom
96           73       1       amc ambassador brougham
97           73       1              plymouth valiant
98           73       1         chevrolet nova custom
99           73       1                    amc hornet
100          73       1                 ford maverick
101          73       1               plymouth duster
102          73       2       volkswagen super beetle
103          73       1              chevrolet impala
104          73       1                  ford country
105          73       1        plymouth custom suburb
106          73       1      oldsmobile vista cruiser
107          73       1                   amc gremlin
108          73       3                 toyota carina
109          73       1                chevrolet vega
110          73       3                    datsun 610
111          73       3                     maxda rx3
112          73       1                    ford pinto
113          73       1              mercury capri v6
114          73       2          fiat 124 sport coupe
115          73       1       chevrolet monte carlo s
116          73       1            pontiac grand prix
117          73       2                      fiat 128
118          73       2                    opel manta
119          73       2                    audi 100ls
120          73       2                   volvo 144ea
121          73       1             dodge dart custom
122          73       2                     saab 99le
123          73       3                toyota mark ii
124          73       1              oldsmobile omega
74
      mpg  cylinders  displacement horsepower  weight  acceleration  \
125  20.0          6         198.0         95    3102          16.5
126  21.0          6         200.0          ?    2875          17.0
127  19.0          6         232.0        100    2901          16.0
128  15.0          6         250.0        100    3336          17.0
129  31.0          4          79.0         67    1950          19.0
130  26.0          4         122.0         80    2451          16.5
131  32.0          4          71.0         65    1836          21.0
132  25.0          4         140.0         75    2542          17.0
133  16.0          6         250.0        100    3781          17.0
134  16.0          6         258.0        110    3632          18.0
135  18.0          6         225.0        105    3613          16.5
136  16.0          8         302.0        140    4141          14.0
137  13.0          8         350.0        150    4699          14.5
138  14.0          8         318.0        150    4457          13.5
139  14.0          8         302.0        140    4638          16.0
140  14.0          8         304.0        150    4257          15.5
141  29.0          4          98.0         83    2219          16.5
142  26.0          4          79.0         67    1963          15.5
143  26.0          4          97.0         78    2300          14.5
144  31.0          4          76.0         52    1649          16.5
145  32.0          4          83.0         61    2003          19.0
146  28.0          4          90.0         75    2125          14.5
147  24.0          4          90.0         75    2108          15.5
148  26.0          4         116.0         75    2246          14.0
149  24.0          4         120.0         97    2489          15.0
150  26.0          4         108.0         93    2391          15.5
151  31.0          4          79.0         67    2000          16.0

     model year  origin                           car name
125          74       1                    plymouth duster
126          74       1                      ford maverick
127          74       1                         amc hornet
128          74       1                     chevrolet nova
129          74       3                        datsun b210
130          74       1                         ford pinto
131          74       3                toyota corolla 1200
132          74       1                     chevrolet vega
133          74       1  chevrolet chevelle malibu classic
134          74       1                        amc matador
135          74       1         plymouth satellite sebring
136          74       1                   ford gran torino
137          74       1           buick century luxus (sw)
138          74       1          dodge coronet custom (sw)
139          74       1              ford gran torino (sw)
140          74       1                   amc matador (sw)
141          74       2                           audi fox
142          74       2                  volkswagen dasher
143          74       2                         opel manta
144          74       3                      toyota corona
145          74       3                         datsun 710
146          74       1                         dodge colt
147          74       2                           fiat 128
148          74       2                        fiat 124 tc
149          74       3                        honda civic
150          74       3                             subaru
151          74       2                          fiat x1.9
75
      mpg  cylinders  displacement horsepower  weight  acceleration  \
152  19.0          6         225.0         95    3264          16.0
153  18.0          6         250.0        105    3459          16.0
154  15.0          6         250.0         72    3432          21.0
155  15.0          6         250.0         72    3158          19.5
156  16.0          8         400.0        170    4668          11.5
157  15.0          8         350.0        145    4440          14.0
158  16.0          8         318.0        150    4498          14.5
159  14.0          8         351.0        148    4657          13.5
160  17.0          6         231.0        110    3907          21.0
161  16.0          6         250.0        105    3897          18.5

In [53]:
india_weather=pd.DataFrame({'city':['newyork','chicago','seatle'],
                             "temperature":[21,13,35],
                             "humidity":[68,65,75],
                            })

In [55]:
india_weather

      city  temperature  humidity
0  newyork           21        68
1  chicago           13        65
2   seatle           35        75

In [184]:
us_weather=pd.DataFrame({'city':['mumbai','bangalore','tvm'],
                             "temperature":[30,13,45],
                             "humidity":[66,65,56],})

In [186]:
us_weather

        city  temperature  humidity
0     mumbai           30        66
1  bangalore           13        65
2        tvm           45        56

In [178]:
us_weather['temperature']<30

0    False
1     True
2    False
Name: temperature, dtype: bool

In [180]:
weather_us_india=pd.concat([india_weather,us_weather],ignore_index=True)

In [176]:
weather_us_india

        city  temperature  humidity
0    newyork           21        68
1    chicago           13        65
2     seatle           35        75
3     mumbai           30        66
4  bangalore           13        65
5        tvm           45        56

In [172]:
weather_us_india[weather_us_india["temperature"]<30]

        city  temperature  humidity
0    newyork           21        68
1    chicago           14        65
3     mumbai           27        66
4  bangalore           16        65

In [170]:
pd.concat([us_weather, india_weather], axis=1)

        city  temperature  humidity     city  temperature  humidity
0     mumbai           30        66  newyork           21        68
1  bangalore           13        65  chicago           13        65
2        tvm           45        56   seatle           35        75

In [188]:
pd.merge(india_weather,us_weather, on='temperature')             #same temprature

    city_x  temperature  humidity_x     city_y  humidity_y
0  chicago           13          65  bangalore          65

In [190]:
weather_us_india["temperature"]<30

0     True
1     True
2    False
3    False
4     True
5    False
Name: temperature, dtype: bool

In [192]:
df=pd.DataFrame([1, 2,3 ,4],index=[49,48,12,13])

In [194]:
df

    0
49  1
48  2
12  3
13  4

In [196]:
df.loc[49]

0    1
Name: 49, dtype: int64

In [200]:
df.iloc[2]

0    3
Name: 12, dtype: int64

In [206]:
city1=pd.Series([12,-6,8,-3], index=['day1', 'day2', 'day3', 'day4'])

In [208]:
city1

day1    12
day2    -6
day3     8
day4    -3
dtype: int64

In [210]:
#to find missing value

In [212]:
city1.isna()

day1    False
day2    False
day3    False
day4    False
dtype: bool

In [214]:
df.isna().sum()

0    0
dtype: int64

In [216]:
city1*3

day1    36
day2   -18
day3    24
day4    -9
dtype: int64

In [232]:
df["car name"].unique()

array(['chevrolet chevelle malibu', 'buick skylark 320',
       'plymouth satellite', 'amc rebel sst', 'ford torino',
       'ford galaxie 500', 'chevrolet impala', 'plymouth fury iii',
       'pontiac catalina', 'amc ambassador dpl', 'dodge challenger se',
       "plymouth 'cuda 340", 'chevrolet monte carlo',
       'buick estate wagon (sw)', 'toyota corona mark ii',
       'plymouth duster', 'amc hornet', 'ford maverick', 'datsun pl510',
       'volkswagen 1131 deluxe sedan', 'peugeot 504', 'audi 100 ls',
       'saab 99e', 'bmw 2002', 'amc gremlin', 'ford f250', 'chevy c20',
       'dodge d200', 'hi 1200d', 'chevrolet vega 2300', 'toyota corona',
       'ford pinto', 'plymouth satellite custom', 'ford torino 500',
       'amc matador', 'pontiac catalina brougham', 'dodge monaco (sw)',
       'ford country squire (sw)', 'pontiac safari (sw)',
       'amc hornet sportabout (sw)', 'chevrolet vega (sw)',
       'pontiac firebird', 'ford mustang', 'mercury capri 2000',
       'opel 1900', 'peugeot 304', 'fiat 124b', 'toyota corolla 1200',
       'datsun 1200', 'volkswagen model 111', 'plymouth cricket',
       'toyota corona hardtop', 'dodge colt hardtop', 'volkswagen type 3',
       'chevrolet vega', 'ford pinto runabout', 'amc ambassador sst',
       'mercury marquis', 'buick lesabre custom',
       'oldsmobile delta 88 royale', 'chrysler newport royal',
       'mazda rx2 coupe', 'amc matador (sw)',
       'chevrolet chevelle concours (sw)', 'ford gran torino (sw)',
       'plymouth satellite custom (sw)', 'volvo 145e (sw)',
       'volkswagen 411 (sw)', 'peugeot 504 (sw)', 'renault 12 (sw)',
       'ford pinto (sw)', 'datsun 510 (sw)',
       'toyouta corona mark ii (sw)', 'dodge colt (sw)',
       'toyota corolla 1600 (sw)', 'buick century 350',
       'chevrolet malibu', 'ford gran torino', 'dodge coronet custom',
       'mercury marquis brougham', 'chevrolet caprice classic',
       'ford ltd', 'plymouth fury gran sedan',
       'chrysler new yorker brougham', 'buick electra 225 custom',
       'amc ambassador brougham', 'plymouth valiant',
       'chevrolet nova custom', 'volkswagen super beetle', 'ford country',
       'plymouth custom suburb', 'oldsmobile vista cruiser',
       'toyota carina', 'datsun 610', 'maxda rx3', 'mercury capri v6',
       'fiat 124 sport coupe', 'chevrolet monte carlo s',
       'pontiac grand prix', 'fiat 128', 'opel manta', 'audi 100ls',
       'volvo 144ea', 'dodge dart custom', 'saab 99le', 'toyota mark ii',
       'oldsmobile omega', 'chevrolet nova', 'datsun b210',
       'chevrolet chevelle malibu classic', 'plymouth satellite sebring',
       'buick century luxus (sw)', 'dodge coronet custom (sw)',
       'audi fox', 'volkswagen dasher', 'datsun 710', 'dodge colt',
       'fiat 124 tc', 'honda civic', 'subaru', 'fiat x1.9',
       'plymouth valiant custom', 'mercury monarch', 'chevrolet bel air',
       'plymouth grand fury', 'buick century',
       'chevroelt chevelle malibu', 'plymouth fury', 'buick skyhawk',
       'chevrolet monza 2+2', 'ford mustang ii', 'toyota corolla',
       'pontiac astro', 'volkswagen rabbit', 'amc pacer', 'volvo 244dl',
       'honda civic cvcc', 'fiat 131', 'capri ii', 'renault 12tl',
       'dodge coronet brougham', 'chevrolet chevette', 'chevrolet woody',
       'vw rabbit', 'dodge aspen se', 'ford granada ghia',
       'pontiac ventura sj', 'amc pacer d/l', 'datsun b-210', 'volvo 245',
       'plymouth volare premier v8', 'mercedes-benz 280s',
       'cadillac seville', 'chevy c10', 'ford f108', 'dodge d100',
       'honda accord cvcc', 'buick opel isuzu deluxe', 'renault 5 gtl',
       'plymouth arrow gs', 'datsun f-10 hatchback',
       'oldsmobile cutlass supreme', 'dodge monaco brougham',
       'mercury cougar brougham', 'chevrolet concours', 'buick skylark',
       'plymouth volare custom', 'ford granada', 'pontiac grand prix lj',
       'chevrolet monte carlo landau', 'chrysler cordoba',
       'ford thunderbird', 'volkswagen rabbit custom',
       'pontiac sunbird coupe', 'toyota corolla liftback',
       'ford mustang ii 2+2', 'dodge colt m/m', 'subaru dl', 'datsun 810',
       'bmw 320i', 'mazda rx-4', 'volkswagen rabbit custom diesel',
       'ford fiesta', 'mazda glc deluxe', 'datsun b210 gx',
       'oldsmobile cutlass salon brougham', 'dodge diplomat',
       'mercury monarch ghia', 'pontiac phoenix lj',
       'ford fairmont (auto)', 'ford fairmont (man)', 'plymouth volare',
       'amc concord', 'buick century special', 'mercury zephyr',
       'dodge aspen', 'amc concord d/l',
       'buick regal sport coupe (turbo)', 'ford futura',
       'dodge magnum xe', 'datsun 510', 'dodge omni',
       'toyota celica gt liftback', 'plymouth sapporo',
       'oldsmobile starfire sx', 'datsun 200-sx', 'audi 5000',
       'volvo 264gl', 'saab 99gle', 'peugeot 604sl',
       'volkswagen scirocco', 'honda accord lx', 'pontiac lemans v6',
       'mercury zephyr 6', 'ford fairmont 4', 'amc concord dl 6',
       'dodge aspen 6', 'ford ltd landau', 'mercury grand marquis',
       'dodge st. regis', 'chevrolet malibu classic (sw)',
       'chrysler lebaron town @ country (sw)', 'vw rabbit custom',
       'maxda glc deluxe', 'dodge colt hatchback custom', 'amc spirit dl',
       'mercedes benz 300d', 'cadillac eldorado', 'plymouth horizon',
       'plymouth horizon tc3', 'datsun 210', 'fiat strada custom',
       'buick skylark limited', 'chevrolet citation',
       'oldsmobile omega brougham', 'pontiac phoenix',
       'toyota corolla tercel', 'datsun 310', 'ford fairmont',
       'audi 4000', 'toyota corona liftback', 'mazda 626',
       'datsun 510 hatchback', 'mazda glc', 'vw rabbit c (diesel)',
       'vw dasher (diesel)', 'audi 5000s (diesel)', 'mercedes-benz 240d',
       'honda civic 1500 gl', 'renault lecar deluxe', 'vokswagen rabbit',
       'datsun 280-zx', 'mazda rx-7 gs', 'triumph tr7 coupe',
       'ford mustang cobra', 'honda accord', 'plymouth reliant',
       'dodge aries wagon (sw)', 'toyota starlet', 'plymouth champ',
       'honda civic 1300', 'datsun 210 mpg', 'toyota tercel',
       'mazda glc 4', 'plymouth horizon 4', 'ford escort 4w',
       'ford escort 2h', 'volkswagen jetta', 'renault 18i',
       'honda prelude', 'datsun 200sx', 'peugeot 505s turbo diesel',
       'volvo diesel', 'toyota cressida', 'datsun 810 maxima',
       'oldsmobile cutlass ls', 'ford granada gl',
       'chrysler lebaron salon', 'chevrolet cavalier',
       'chevrolet cavalier wagon', 'chevrolet cavalier 2-door',
       'pontiac j2000 se hatchback', 'dodge aries se',
       'ford fairmont futura', 'amc concord dl', 'volkswagen rabbit l',
       'mazda glc custom l', 'mazda glc custom', 'plymouth horizon miser',
       'mercury lynx l', 'nissan stanza xe', 'honda civic (auto)',
       'datsun 310 gx', 'buick century limited',
       'oldsmobile cutlass ciera (diesel)', 'chrysler lebaron medallion',
       'ford granada l', 'toyota celica gt', 'dodge charger 2.2',
       'chevrolet camaro', 'ford mustang gl', 'vw pickup',
       'dodge rampage', 'ford ranger', 'chevy s-10'], dtype=object)

In [244]:
df["cylinders"].value_counts()

cylinders
4    204
8    103
6     84
3      4
5      3
Name: count, dtype: int64

In [240]:
car_new= df.drop(["origin", "car name"],axis=1)

In [242]:
car_new.describe()

,mpg,cylinders,displacement,weight,acceleration,model year
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000

In [246]:
df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [250]:
#city1.isna()
city1[~city1.isna()]

day1    12
day2    -6
day3     8
day4    -3
dtype: int64